/* BREAKPOINTS (T-SHIRT SCALE) */
:root {
  --breakpoint-4xs: 20rem; /* 320px */
  --breakpoint-3xs: 23.4375rem; /* 375px */
  --breakpoint-2xs: 30rem; /* 480px */
  --breakpoint-xs: 36rem; /* 576px */
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-md: 64rem; /* 1024px */
  --breakpoint-lg: 80rem; /* 1280px */
  --breakpoint-xl: 90rem; /* 1440px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 108rem; /* 1728px */
  --breakpoint-4xl: 120rem; /* 1920px */
  --breakpoint-5xl: 135rem; /* 2160px */
  --breakpoint-6xl: 160rem; /* 2560px */
  --breakpoint-7xl: 200rem; /* 3200px */
}
