/* BASE */
:root {
  --color-base-white: #ffffff;
  --color-base-black: #070707;
  --color-base-transparent: #00000000;

  /* BRICK EMBER */
  --color-brick-ember-25: #fdf5f5;
  --color-brick-ember-50: #fae6e6;
  --color-brick-ember-100: #f6cccc;
  --color-brick-ember-200: #efa8a8;
  --color-brick-ember-300: #e88080;
  --color-brick-ember-400: #de4d4d;
  --color-brick-ember-500: #d00000;
  --color-brick-ember-600: #b70000;
  --color-brick-ember-700: #960000;
  --color-brick-ember-800: #790000;
  --color-brick-ember-900: #5c0000;
  --color-brick-ember-950: #3e0000;

  /* AMBER FLAME */
  --color-amber-flame-25: #fffcf5;
  --color-amber-flame-50: #fff8e6;
  --color-amber-flame-100: #fff1ce;
  --color-amber-flame-200: #ffe8ab;
  --color-amber-flame-300: #ffdd84;
  --color-amber-flame-400: #ffcf52;
  --color-amber-flame-500: #ffba08;
  --color-amber-flame-600: #e0a407;
  --color-amber-flame-700: #b88606;
  --color-amber-flame-800: #946c05;
  --color-amber-flame-900: #705204;
  --color-amber-flame-950: #4d3802;

  /* STEEL BLUE */
  --color-steel-blue-25: #f7fafd;
  --color-steel-blue-50: #ecf3f9;
  --color-steel-blue-100: #d9e7f3;
  --color-steel-blue-200: #bed7eb;
  --color-steel-blue-300: #9fc4e2;
  --color-steel-blue-400: #79acd6;
  --color-steel-blue-500: #3f88c5;
  --color-steel-blue-600: #3778ad;
  --color-steel-blue-700: #2d628e;
  --color-steel-blue-800: #254f72;
  --color-steel-blue-900: #1c3c57;
  --color-steel-blue-950: #13293b;

  /* DEEP SPACE BLUE */
  --color-deep-space-blue-25: #f5f7f7;
  --color-deep-space-blue-50: #e6eaec;
  --color-deep-space-blue-100: #cdd5d9;
  --color-deep-space-blue-200: #a9b7bf;
  --color-deep-space-blue-300: #8195a1;
  --color-deep-space-blue-400: #4f6b7b;
  --color-deep-space-blue-500: #032b43;
  --color-deep-space-blue-600: #03263b;
  --color-deep-space-blue-700: #021f30;
  --color-deep-space-blue-800: #021927;
  --color-deep-space-blue-900: #01131d;
  --color-deep-space-blue-950: #010d14;

  /* BLUE SPRUCE */
  --color-blue-spruce-25: #f6f9f9;
  --color-blue-spruce-50: #e7f1ef;
  --color-blue-spruce-100: #d0e2e0;
  --color-blue-spruce-200: #afceca;
  --color-blue-spruce-300: #89b7b1;
  --color-blue-spruce-400: #5a9a92;
  --color-blue-spruce-500: #136f63;
  --color-blue-spruce-600: #116257;
  --color-blue-spruce-700: #0e5047;
  --color-blue-spruce-800: #0b4039;
  --color-blue-spruce-900: #08312c;
  --color-blue-spruce-950: #06211e;

  /* BLACKBERRY CREAM */
  --color-blackberry-cream-25: #f8f6f7;
  --color-blackberry-cream-50: #ede9ec;
  --color-blackberry-cream-100: #dbd3d8;
  --color-blackberry-cream-200: #c2b5bd;
  --color-blackberry-cream-300: #a6929e;
  --color-blackberry-cream-400: #826677;
  --color-blackberry-cream-500: #4d243d;
  --color-blackberry-cream-600: #442036;
  --color-blackberry-cream-700: #371a2c;
  --color-blackberry-cream-800: #2d1523;
  --color-blackberry-cream-900: #22101b;
  --color-blackberry-cream-950: #170b12;

  /* DEEP TWILIGHT */
  --color-deep-twilight-25: #f6f5f8;
  --color-deep-twilight-50: #e8e6ee;
  --color-deep-twilight-100: #d0ccdc;
  --color-deep-twilight-200: #afa9c4;
  --color-deep-twilight-300: #8a80a9;
  --color-deep-twilight-400: #5b4d86;
  --color-deep-twilight-500: #140152;
  --color-deep-twilight-600: #120148;
  --color-deep-twilight-700: #0e013b;
  --color-deep-twilight-800: #0c0130;
  --color-deep-twilight-900: #090024;
  --color-deep-twilight-950: #060019;

  /* NAVY */
  --color-navy-25: #f6f5fa;
  --color-navy-50: #e9e6f2;
  --color-navy-100: #d3cce5;
  --color-navy-200: #b4a8d2;
  --color-navy-300: #9180be;
  --color-navy-400: #644da3;
  --color-navy-500: #22007c;
  --color-navy-600: #1e006d;
  --color-navy-700: #180059;
  --color-navy-800: #140048;
  --color-navy-900: #0f0037;
  --color-navy-950: #0a0025;

  /* NAVY ELECTRIC */
  --color-navy-electric-25: #f5f5fb;
  --color-navy-electric-50: #e7e6f6;
  --color-navy-electric-100: #cfcced;
  --color-navy-electric-200: #ada8e0;
  --color-navy-electric-300: #8680d2;
  --color-navy-electric-400: #564dbf;
  --color-navy-electric-500: #0d00a4;
  --color-navy-electric-600: #0b0090;
  --color-navy-electric-700: #090076;
  --color-navy-electric-800: #08005f;
  --color-navy-electric-900: #060048;
  --color-navy-electric-950: #040031;

  /* JASMINE */
  --color-jasmine-25: #fffdf9;
  --color-jasmine-50: #fffbf1;
  --color-jasmine-100: #fff7e3;
  --color-jasmine-200: #fff2cf;
  --color-jasmine-300: #ffecb9;
  --color-jasmine-400: #ffe49c;
  --color-jasmine-500: #ffd972;
  --color-jasmine-600: #e0bf64;
  --color-jasmine-700: #b89c52;
  --color-jasmine-800: #947e42;
  --color-jasmine-900: #705f32;
  --color-jasmine-950: #4d4122;

  /* PLATINUM */
  --color-platinum-25: #fefefe;
  --color-platinum-50: #fdfdfd;
  --color-platinum-100: #fcfcfc;
  --color-platinum-200: #fafafa;
  --color-platinum-300: #f7f7f7;
  --color-platinum-400: #f4f4f4;
  --color-platinum-500: #efefef;
  --color-platinum-600: #d2d2d2;
  --color-platinum-700: #acacac;
  --color-platinum-800: #8b8b8b;
  --color-platinum-900: #696969;
  --color-platinum-950: #484848;

  /* ROYAL AZURE */
  --color-royal-azure-25: #f7f8fd;
  --color-royal-azure-50: #ebeefa;
  --color-royal-azure-100: #d6ddf6;
  --color-royal-azure-200: #bac5ef;
  --color-royal-azure-300: #9aaae8;
  --color-royal-azure-400: #7187df;
  --color-royal-azure-500: #3454d1;
  --color-royal-azure-600: #2e4ab8;
  --color-royal-azure-700: #253c96;
  --color-royal-azure-800: #1e3179;
  --color-royal-azure-900: #17255c;
  --color-royal-azure-950: #10193f;

  /* TURQUOISE */
  --color-turquoise-25: #f7fdfc;
  --color-turquoise-50: #ebfaf9;
  --color-turquoise-100: #d6f6f2;
  --color-turquoise-200: #baefe9;
  --color-turquoise-300: #9ae8df;
  --color-turquoise-400: #71dfd2;
  --color-turquoise-500: #34d1bf;
  --color-turquoise-600: #2eb8a8;
  --color-turquoise-700: #25968a;
  --color-turquoise-800: #1e796f;
  --color-turquoise-900: #175c54;
  --color-turquoise-950: #103f39;

  /* MEDIUM JUNGLE */
  --color-medium-jungle-25: #f5fbf7;
  --color-medium-jungle-50: #e6f5ea;
  --color-medium-jungle-100: #cdecd5;
  --color-medium-jungle-200: #aadeb8;
  --color-medium-jungle-300: #83cf96;
  --color-medium-jungle-400: #51bb6c;
  --color-medium-jungle-500: #069e2d;
  --color-medium-jungle-600: #058b28;
  --color-medium-jungle-700: #047220;
  --color-medium-jungle-800: #035c1a;
  --color-medium-jungle-900: #034614;
  --color-medium-jungle-950: #022f0e;

  /* FOREST GREEN */
  --color-forest-green-25: #f5faf7;
  --color-forest-green-50: #e6f4ec;
  --color-forest-green-100: #cde8d9;
  --color-forest-green-200: #aad9be;
  --color-forest-green-300: #82c79f;
  --color-forest-green-400: #50b079;
  --color-forest-green-500: #058e3f;
  --color-forest-green-600: #047d37;
  --color-forest-green-700: #04662d;
  --color-forest-green-800: #035225;
  --color-forest-green-900: #023e1c;
  --color-forest-green-950: #022b13;

  /* TURF GREEN */
  --color-turf-green-25: #f5faf7;
  --color-turf-green-50: #e6f1eb;
  --color-turf-green-100: #cde4d8;
  --color-turf-green-200: #aad1bc;
  --color-turf-green-300: #82bb9d;
  --color-turf-green-400: #4fa076;
  --color-turf-green-500: #04773b;
  --color-turf-green-600: #046934;
  --color-turf-green-700: #03562a;
  --color-turf-green-800: #024522;
  --color-turf-green-900: #02341a;
  --color-turf-green-950: #012412;

  /* DARK EMERALD */
  --color-dark-emerald-25: #f5f9f6;
  --color-dark-emerald-50: #e6efe8;
  --color-dark-emerald-100: #cddfd0;
  --color-dark-emerald-200: #a9c9b0;
  --color-dark-emerald-300: #81b08b;
  --color-dark-emerald-400: #4f905c;
  --color-dark-emerald-500: #036016;
  --color-dark-emerald-600: #035413;
  --color-dark-emerald-700: #024510;
  --color-dark-emerald-800: #02380d;
  --color-dark-emerald-900: #012a0a;
  --color-dark-emerald-950: #011d07;

  /* BLACK FOREST */
  --color-black-forest-25: #f5f8f5;
  --color-black-forest-50: #e6ece7;
  --color-black-forest-100: #cddace;
  --color-black-forest-200: #a9bfac;
  --color-black-forest-300: #81a286;
  --color-black-forest-400: #4f7c55;
  --color-black-forest-500: #03440c;
  --color-black-forest-600: #033c0b;
  --color-black-forest-700: #023109;
  --color-black-forest-800: #022707;
  --color-black-forest-900: #011e05;
  --color-black-forest-950: #011404;

  /* BLACK */
  --color-black-25: #f5f5f5;
  --color-black-50: #e6e6e6;
  --color-black-100: #cdcdcd;
  --color-black-200: #ababab;
  --color-black-300: #838383;
  --color-black-400: #515151;
  --color-black-500: #070707;
  --color-black-600: #060606;
  --color-black-700: #050505;
  --color-black-800: #040404;
  --color-black-900: #030303;
  --color-black-950: #020202;

  /* MAGENTA BLOOM */
  --color-magenta-bloom-25: #fdf7f8;
  --color-magenta-bloom-50: #faebef;
  --color-magenta-bloom-100: #f6d6de;
  --color-magenta-bloom-200: #efbac7;
  --color-magenta-bloom-300: #e89aad;
  --color-magenta-bloom-400: #df718c;
  --color-magenta-bloom-500: #d1345b;
  --color-magenta-bloom-600: #b82e50;
  --color-magenta-bloom-700: #962542;
  --color-magenta-bloom-800: #791e35;
  --color-magenta-bloom-900: #5c1728;
  --color-magenta-bloom-950: #3f101b;
}
