/* SHADOWS (T-SHIRT SCALE) */
:root {
  --shadow-4xs: 0 1px 1px rgb(2 8 23 / 0.04);
  --shadow-3xs: 0 1px 2px rgb(2 8 23 / 0.06);
  --shadow-2xs: 0 2px 4px rgb(2 8 23 / 0.08);
  --shadow-xs:
    0 4px 6px -1px rgb(2 8 23 / 0.1), 0 2px 4px -2px rgb(2 8 23 / 0.08);
  --shadow-sm:
    0 8px 10px -3px rgb(2 8 23 / 0.12), 0 4px 6px -4px rgb(2 8 23 / 0.1);
  --shadow-md:
    0 10px 15px -3px rgb(2 8 23 / 0.14), 0 4px 6px -4px rgb(2 8 23 / 0.1);
  --shadow-lg:
    0 20px 25px -5px rgb(2 8 23 / 0.16), 0 8px 10px -6px rgb(2 8 23 / 0.12);
  --shadow-xl: 0 25px 50px -12px rgb(2 8 23 / 0.2);
  --shadow-2xl: 0 32px 60px -14px rgb(2 8 23 / 0.24);
  --shadow-3xl: 0 40px 72px -16px rgb(2 8 23 / 0.28);
  --shadow-4xl: 0 48px 84px -18px rgb(2 8 23 / 0.32);
  --shadow-5xl: 0 56px 96px -20px rgb(2 8 23 / 0.36);
  --shadow-6xl: 0 64px 108px -22px rgb(2 8 23 / 0.4);
  --shadow-7xl: 0 72px 120px -24px rgb(2 8 23 / 0.44);
}
