/* SPACING (T-SHIRT SCALE) */
:root {
  --space: 0.25rem; /* 4px */

  --space-none: 0;
  --space-4xs: calc(var(--space) * 0.5);
  --space-3xs: calc(var(--space) * 1);
  --space-2xs: calc(var(--space) * 1.5);
  --space-xs: calc(var(--space) * 2);
  --space-sm: calc(var(--space) * 3);
  --space-md: calc(var(--space) * 4);
  --space-lg: calc(var(--space) * 6);
  --space-xl: calc(var(--space) * 8);
  --space-2xl: calc(var(--space) * 10);
  --space-3xl: calc(var(--space) * 12);
  --space-4xl: calc(var(--space) * 16);
  --space-5xl: calc(var(--space) * 20);
  --space-6xl: calc(var(--space) * 24);
  --space-7xl: calc(var(--space) * 32);
}
