@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/700.css";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/700.css";

:root {
  /* FONT FAMILY */
  --font-family-sans:
    "IBM Plex Sans", "Avenir Next", "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-family-mono:
    "JetBrains Mono", "SFMono-Regular", Menlo, Monaco, Consolas, monospace;

  /* FONT SIZES (T-SHIRT SCALE) */
  --font-size-4xs: 0.625rem;
  --font-size-3xs: 0.6875rem;
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.8125rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;

  /* LINE HEIGHTS (T-SHIRT SCALE) */
  --line-height-4xs: 1;
  --line-height-3xs: 1.1;
  --line-height-2xs: 1.2;
  --line-height-xs: 1.3;
  --line-height-sm: 1.4;
  --line-height-md: 1.5;
  --line-height-lg: 1.6;
  --line-height-xl: 1.7;
  --line-height-2xl: 1.8;
  --line-height-3xl: 1.9;
  --line-height-4xl: 2;
  --line-height-5xl: 2.2;
  --line-height-6xl: 2.4;
  --line-height-7xl: 2.6;
}
