/* SEMANTIC COLOR TOKENS */

:root,
[data-theme='light'] {
  color-scheme: light;

  /* TEXT COLORS */
  --color-text-white: var(--color-white);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-secondary_hover: var(--color-gray-800);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-tertiary_hover: var(--color-gray-700);
  --color-text-quaternary: var(--color-gray-500);
  --color-text-error-primary: var(--color-error-600);
  --color-text-error-primary_hover: var(--color-error-700);
  --color-text-warning-primary: var(--color-warning-600);
  --color-text-success-primary: var(--color-success-600);
  --color-text-disabled: var(--color-gray-500);
  --color-text-placeholder: var(--color-gray-500);
  --color-text-placeholder_subtle: var(--color-gray-300);
  --color-text-primary_on-brand: var(--color-white);
  --color-text-secondary_on-brand: var(--color-brand-200);
  --color-text-tertiary_on-brand: var(--color-brand-200);
  --color-text-quaternary_on-brand: var(--color-brand-300);
  --color-text-brand-primary: var(--color-brand-900);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-text-brand-secondary_hover: var(--color-brand-800);
  --color-text-brand-tertiary: var(--color-brand-600);
  --color-text-brand-tertiary_alt: var(--color-brand-600);

  /* BORDER COLORS */
  --color-border-primary: var(--color-gray-300);
  --color-border-secondary: var(--color-gray-200);
  --color-border-secondary_alt: rgb(0 0 0 / 0.08);
  --color-border-tertiary: var(--color-gray-100);
  --color-border-error: var(--color-error-500);
  --color-border-error_subtle: var(--color-error-300);
  --color-border-disabled: var(--color-gray-300);
  --color-border-disabled_subtle: var(--color-gray-200);
  --color-border-brand: var(--color-brand-500);
  --color-border-brand_alt: var(--color-brand-600);

  /* FOREGROUND COLORS */
  --color-fg-white: var(--color-white);
  --color-fg-primary: var(--color-gray-900);
  --color-fg-secondary: var(--color-gray-700);
  --color-fg-secondary_hover: var(--color-gray-800);
  --color-fg-tertiary: var(--color-gray-600);
  --color-fg-tertiary_hover: var(--color-gray-700);
  --color-fg-quaternary: var(--color-gray-400);
  --color-fg-quaternary_hover: var(--color-gray-500);
  --color-fg-warning-primary: var(--color-warning-600);
  --color-fg-warning-secondary: var(--color-warning-500);
  --color-fg-success-primary: var(--color-success-600);
  --color-fg-success-secondary: var(--color-success-500);
  --color-fg-error-primary: var(--color-error-600);
  --color-fg-error-secondary: var(--color-error-500);
  --color-fg-disabled: var(--color-gray-400);
  --color-fg-disabled_subtle: var(--color-gray-300);
  --color-fg-brand-primary: var(--color-brand-600);
  --color-fg-brand-primary_alt: var(--color-fg-brand-primary);
  --color-fg-brand-secondary: var(--color-brand-500);
  --color-fg-brand-secondary_alt: var(--color-fg-brand-secondary);
  --color-fg-brand-secondary_hover: var(--color-brand-600);

  /* BACKGROUND COLORS */
  --color-bg-primary: var(--color-white);
  --color-bg-primary-solid: var(--color-gray-950);
  --color-bg-primary_alt: var(--color-white);
  --color-bg-primary_hover: var(--color-gray-50);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-secondary-solid: var(--color-gray-600);
  --color-bg-secondary_subtle: var(--color-gray-25);
  --color-bg-secondary_hover: var(--color-gray-100);
  --color-bg-secondary_alt: var(--color-gray-50);
  --color-bg-tertiary: var(--color-gray-100);
  --color-bg-quaternary: var(--color-gray-200);
  --color-bg-error-primary: var(--color-error-50);
  --color-bg-error-secondary: var(--color-error-100);
  --color-bg-error-solid: var(--color-error-600);
  --color-bg-error-solid_hover: var(--color-error-700);
  --color-bg-warning-primary: var(--color-warning-50);
  --color-bg-warning-secondary: var(--color-warning-100);
  --color-bg-warning-solid: var(--color-warning-600);
  --color-bg-success-primary: var(--color-success-50);
  --color-bg-success-secondary: var(--color-success-100);
  --color-bg-success-solid: var(--color-success-600);
  --color-bg-disabled: var(--color-gray-100);
  --color-bg-disabled_subtle: var(--color-gray-50);
  --color-bg-active: var(--color-gray-50);
  --color-bg-overlay: var(--color-gray-950);
  --color-bg-brand-primary: var(--color-brand-50);
  --color-bg-brand-primary_alt: var(--color-brand-50);
  --color-bg-brand-secondary: var(--color-brand-100);
  --color-bg-brand-solid: var(--color-brand-600);
  --color-bg-brand-solid_hover: var(--color-brand-700);
  --color-bg-brand-section: var(--color-brand-800);
  --color-bg-brand-section_subtle: var(--color-brand-700);
}

[data-theme='dark'] {
  color-scheme: dark;

  /* TEXT COLORS */
  --color-text-white: var(--color-white);
  --color-text-primary: var(--color-gray-50);
  --color-text-secondary: var(--color-gray-300);
  --color-text-secondary_hover: var(--color-gray-200);
  --color-text-tertiary: var(--color-gray-400);
  --color-text-tertiary_hover: var(--color-gray-300);
  --color-text-quaternary: var(--color-gray-400);
  --color-text-error-primary: var(--color-error-400);
  --color-text-warning-primary: var(--color-warning-400);
  --color-text-success-primary: var(--color-success-400);
  --color-text-disabled: var(--color-gray-500);
  --color-text-brand-primary: var(--color-gray-50);
  --color-text-brand-secondary: var(--color-gray-300);
  --color-text-brand-tertiary: var(--color-gray-400);
  --color-text-placeholder: var(--color-gray-500);
  --color-text-placeholder_subtle: var(--color-gray-700);
  --color-text-primary_on-brand: var(--color-gray-50);
  --color-text-secondary_on-brand: var(--color-gray-300);
  --color-text-tertiary_on-brand: var(--color-gray-400);
  --color-text-quaternary_on-brand: var(--color-gray-400);
  --color-text-brand-secondary_hover: var(--color-gray-200);
  --color-text-brand-tertiary_alt: var(--color-gray-50);
  --color-text-error-primary_hover: var(--color-error-300);

  /* BORDER COLORS */
  --color-border-primary: var(--color-gray-700);
  --color-border-secondary: var(--color-gray-800);
  --color-border-secondary_alt: var(--color-gray-800);
  --color-border-tertiary: var(--color-gray-800);
  --color-border-brand: var(--color-brand-400);
  --color-border-brand_alt: var(--color-gray-700);
  --color-border-error: var(--color-error-400);
  --color-border-error_subtle: var(--color-error-500);
  --color-border-disabled: var(--color-gray-700);
  --color-border-disabled_subtle: var(--color-gray-800);

  /* FOREGROUND COLORS */
  --color-fg-white: var(--color-white);
  --color-fg-primary: var(--color-white);
  --color-fg-secondary: var(--color-gray-300);
  --color-fg-tertiary: var(--color-gray-400);
  --color-fg-tertiary_hover: var(--color-gray-300);
  --color-fg-quaternary: var(--color-gray-600);
  --color-fg-quaternary_hover: var(--color-gray-500);
  --color-fg-error-primary: var(--color-error-500);
  --color-fg-error-secondary: var(--color-error-400);
  --color-fg-warning-primary: var(--color-warning-500);
  --color-fg-warning-secondary: var(--color-warning-400);
  --color-fg-success-primary: var(--color-success-500);
  --color-fg-success-secondary: var(--color-success-400);
  --color-fg-secondary_hover: var(--color-gray-200);
  --color-fg-disabled: var(--color-gray-500);
  --color-fg-disabled_subtle: var(--color-gray-600);
  --color-fg-brand-primary: var(--color-brand-500);
  --color-fg-brand-secondary: var(--color-brand-500);
  --color-fg-brand-primary_alt: var(--color-gray-300);
  --color-fg-brand-secondary_alt: var(--color-gray-600);
  --color-fg-brand-secondary_hover: var(--color-gray-500);

  /* BACKGROUND COLORS */
  --color-bg-primary: var(--color-gray-950);
  --color-bg-primary-solid: var(--color-bg-secondary);
  --color-bg-primary_alt: var(--color-bg-secondary);
  --color-bg-primary_hover: var(--color-gray-800);
  --color-bg-secondary: var(--color-gray-900);
  --color-bg-secondary-solid: var(--color-gray-600);
  --color-bg-secondary_subtle: var(--color-gray-900);
  --color-bg-secondary_hover: var(--color-gray-800);
  --color-bg-tertiary: var(--color-gray-800);
  --color-bg-quaternary: var(--color-gray-700);
  --color-bg-error-primary: var(--color-error-950);
  --color-bg-error-secondary: var(--color-error-600);
  --color-bg-error-solid: var(--color-error-600);
  --color-bg-error-solid_hover: var(--color-error-500);
  --color-bg-warning-primary: var(--color-warning-950);
  --color-bg-warning-secondary: var(--color-warning-600);
  --color-bg-warning-solid: var(--color-warning-600);
  --color-bg-success-primary: var(--color-success-950);
  --color-bg-success-secondary: var(--color-success-600);
  --color-bg-success-solid: var(--color-success-600);
  --color-bg-active: var(--color-gray-800);
  --color-bg-disabled: var(--color-gray-800);
  --color-bg-disabled_subtle: var(--color-gray-900);
  --color-bg-brand-primary: var(--color-brand-500);
  --color-bg-brand-primary_alt: var(--color-bg-secondary);
  --color-bg-brand-secondary: var(--color-brand-600);
  --color-bg-secondary_alt: var(--color-bg-primary);
  --color-bg-brand-solid: var(--color-brand-600);
  --color-bg-brand-solid_hover: var(--color-brand-500);
  --color-bg-overlay: var(--color-gray-800);
  --color-bg-brand-section: var(--color-bg-secondary);
  --color-bg-brand-section_subtle: var(--color-bg-primary);
}
